@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


li {list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    padding-right: 15px;
    font-size: 9pt;
    margin-left: 30px;
    }


.mail {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    background : #9132BD;
    border: 1px soild silver;
    color: #000;
    border-radius: 30px;
    padding-top: 50px;
    margin-top: 150px;
    
}

.validar{
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif;
	border-radius:28px;
	border:1px solid #ffffff;
    display:block;
    margin-left: auto;
    margin-right: auto;
	cursor:pointer;
	color:#9132bd;
	font-size:14px;
	padding:13px 44px;
	text-decoration:none;
}

.validar:hover{
    background-color:#e6e6e6;
}



.image{

    width: 150px;
    display: block;
    margin: auto;
}

.mail h2 {
    text-align: center;
    color: white;
    
}

input {
    font-size: 20pt;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #9132BD
}

.form{
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding-inline-start: unset;
    box-align:center;
}

input:focus, textarea:focus{
    background-color: lightyellow;
}

input submit {
    font-size: 12pt;
}

.rq {
    margin-top: 10px;
    color:white;
    font-size: 5pt;

}

body{
        background-image: url("./images/background.png");
        background-repeat: no-repeat;
        background-size: cover;
}